[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyviews = "*"
wxviews = {editable = true,path = "."}
pytest = "*"
pylint = "*"
astroid = "*"

[requires]
python_version = "3"
