<?xml version="1.0"?>
<App xmlns='wx'
     xmlns:import='pyviews.rendering.modifiers.import_global'
     xmlns:wxv='wxviews'
     xmlns:init='init'

     import:wx='wx'>
    <Frame init:title='hello world'>
        <Panel BackgroundColour='gray'>
            <wxv:View name='sizers' />
        </Panel>
    </Frame>
</App>